@font-face {
  font-family: 'DINProRegular';
  src: local('DINProRegular'), url(./fonts/DINPro-Regular.woff) format('woff');
}

@font-face {
  font-family: 'DINProLight';
  src: local('DINProLight'), url(./fonts/DINPro-Light.woff) format('woff');
}

body {
  margin: 0;
  font-family: 'DINProRegular', 'DINProLight', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
